<div class="row" id="contacto" style="line-height: normal;">

    <div class="py-3"></div>

    <div [ngClass]="{'col-3': flag, 'col-1': !flag}"></div>

    <div class="col text-center">

        <form action="post">

            <div class="pb-3">
                <h1>{{miPortfolio.contact.title}}</h1>
            </div>

            <input type="email" placeholder={{miPortfolio.contact.placeholder.correo}} class="border border-danger border-3 my-2 form-control"><br>

            <input type="text" placeholder={{miPortfolio.contact.placeholder.nombre}} class="border border-danger border-3 my-2 form-control"><br>

            <input type="text" placeholder= {{miPortfolio.contact.placeholder.asunto}} class="border border-danger border-3 my-2 form-control"><br>

            <input type="submit" class="btn btn-danger btn-submit mb-3">
        </form>

    </div>

    <div [ngClass]="{'col-3': flag, 'col-1': !flag}"></div>

    <div class="py-2"></div>

</div>
