<div class="container-fluid pt-5" >

    <div class="row" class="mt-0"  id="yo">
        

      <div *ngIf="flag" class="col-3 offset-md-1" style="display: inline-block;">
        <img src="../../../assets/imgs/aboutMe.jpg" width="400px" class="rounded img-fluid" alt="" style="vertical-align: super;" >

      </div>
      
      <div class="col-1" style="display: inline-block;"></div>

      <div [ngClass]="{'col-6': flag, 'col-10' : !flag}" style="display: inline-block;">

        <div class="text-white text-center " style="display: inline-block;line-height: 2rem;">
    
            <h1 >{{miPortfolio.aboutMeTitle}}</h1>
  
            <p class="mb-0 lead" style="text-indent: 20px;">Soy un chico apasionado por aprender y por la tecnología, no me cuesta entender temas nuevos. Actualmente estoy haciendo el <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" class="text-white" target="_blank">Argentina programa</a>, ya terminé la primer parte titulada <b>#SeProgramar</b>, y estoy en la segunda parte llamada <b>#YoProgramo</b>. <br> </p>
            <p class="mb-0 mt-0 lead" style="text-indent: 20px;">Tengo 19 años, actualmente estoy cursando primer año de ingeniería en Sistemas en la <b> <a href="https://www.frsf.utn.edu.ar/" class="text-white" target="_blank">UTN de Santa fe</a> </b>. <br></p>
            <p class="mb-0 mt-0 lead" style="text-indent: 20px;">Soy Adventista del Séptimo Día y estoy en el equipo de multimedia del canal de YouTube de la <a href="https://www.youtube.com/channel/UCRvMjFyc18EzCvLK-uj-sHg" class="text-white" target="_blank">Iglesia Adventista de Santa Fe Centro</a>. <br></p>
            <p class="mb-0 mt-0 lead" style="text-indent: 20px;">Me desarrollé varios años en el club de scouts Conquistadores "León De Judá", completando más de 20 obleas, todas las clases, y recibiendo el premio al mejor Conquistador del año dos veces consecutivas. Actualmente soy consejero en este mismo club y me capacité como lider para esto. <br></p>
            <p class="mb-0 mt-0 lead" style="text-indent: 20px;">Terminé quinto año en el Liceo Municipal de música <a href="http://190.57.236.203/blogs/liceo/" class="text-white" target="_blank">Antonio Fuentes del Arco</a>, tocando el Violoncello. <br></p>
            <p class="mb-0 mt-0 lead" style="text-indent: 20px;">En cuanto a deportes, siempre me gustaron, pero hace años que me enamoré de la Calistenia, ya que es un deporte que se puede hacer al aire libre, con pocos recursos y con una comunidad muy unida en la que todos se apoyan los unos con los otros. Me encanta ir a
            hacer trekking a los cerros de córdoba como el <a href="https://es.wikipedia.org/wiki/Champaqu%C3%AD" class="text-white" target="_blank">Champaquí</a> o <a href="https://es.wikipedia.org/wiki/Los_Gigantes" class="text-white" target="_blank">Los Gigantes</a>. También me gustan los deportes de competición como el voley, y el handball.</p>
  
      </div>

      </div>

      <div *ngIf="!flag" class="col-1" style="display: inline-block;"></div>

      

      <div class="py-3 espaciador"></div>

    </div>

    <img *ngIf="!flag" src="../../../assets/imgs/aboutMe.jpg"  width="520px" class="rounded img-fluid img-false" alt="" style="align-self: center;" >
    <div *ngIf="!flag" class="py-3 espaciador"></div>

  </div>
