<div class="row">

    <div class="py-3"></div>

    <div class="col">
        <h1 class="text-center"> <b>  Mis Habilidades: </b> </h1>
    </div>

</div>

<div *ngIf="flag" class="row" >

    <div class="py-2"></div>

    <div class="col-1"></div>

    <div class="col border border-danger border-3 rounded habilidades ">
        <h3>{{miPortfolio.habilidadesPW.title}}</h3>
        
        <div class="py-2"></div>

        <ul class="lead">
            <li> <img src={{miPortfolio.habilidadesPW.html.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.html.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.css.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.css.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.js.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.js.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.bootstrap.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.bootstrap.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.ts.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.ts.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.ag.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.ag.text}}</b>  </li>

        </ul>


    </div>

    <div class="col-1"></div>
    
    <div class="col border border-danger border-3 rounded habilidades">
        <h3>{{miPortfolio.habilidadesRedesSociales.title}}</h3>
        
        <div class="py-2"></div>

        <ul class="lead">
            <li> <img src={{miPortfolio.habilidadesRedesSociales.instagram.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesRedesSociales.instagram.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesRedesSociales.youTube.image}} width="40px" alt=""> <b>You Tube</b>  </li>
            <li> <img src={{miPortfolio.habilidadesRedesSociales.whatsapp.image}} width="40px" alt=""> <b>Whatsapp Empresarial</b>
        </ul>


    </div>
    
    <div class="col-1">

    </div>
    
    <div class="col border border-danger border-3 rounded habilidades">
        <h3>{{miPortfolio.habilidadesTransmisiones.title}}</h3>
        
        <div class="py-2"></div>

        <ul class="lead">
            <li> <img src={{miPortfolio.habilidadesTransmisiones.obs.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesTransmisiones.obs.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesTransmisiones.youTubeLives.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesTransmisiones.youTubeLives.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesTransmisiones.twitch.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesTransmisiones.twitch.text}}</b>
        </ul>


    </div>

    <div class="col-1">

    </div>


    <div class="py-4"></div>

</div>

<div *ngIf="!flag" class="row ">
    <div class="py-2"></div>

    <div class="col-3"></div>

    <div class="col-6 border border-danger border-3 rounded habilidades ">
        <h3>{{miPortfolio.habilidadesPW.title}}</h3>
        
        <div class="py-2"></div>

        <ul class="lead">
            <li> <img src={{miPortfolio.habilidadesPW.html.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.html.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.css.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.css.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.js.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.js.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.bootstrap.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.bootstrap.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.ts.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.ts.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesPW.ag.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesPW.ag.text}}</b>  </li>

        </ul>


    </div>

    <div class="col-3"></div>

    <div class="py-2"></div>

</div>

<div *ngIf="!flag" class="row ">
    <div class="py-2"></div>

    <div class="col-3"></div>

    <div class="col-6 border border-danger border-3 rounded habilidades ">
        <h3>{{miPortfolio.habilidadesRedesSociales.title}}</h3>
        
        <div class="py-2"></div>

        <ul class="lead">
            <li> <img src={{miPortfolio.habilidadesRedesSociales.instagram.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesRedesSociales.instagram.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesRedesSociales.youTube.image}} width="40px" alt=""> <b>You Tube</b>  </li>
            <li> <img src={{miPortfolio.habilidadesRedesSociales.whatsapp.image}} width="40px" alt=""> <b>Whatsapp Empresarial</b>
        </ul>


    </div>

    <div class="col-3"></div>

    <div class="py-2"></div>

</div>

<div *ngIf="!flag" class="row ">
    <div class="py-2"></div>

    <div class="col-3"></div>

    <div class="col-6 border border-danger border-3 rounded habilidades ">
        <h3>{{miPortfolio.habilidadesTransmisiones.title}}</h3>
        
        <div class="py-2"></div>

        <ul class="lead">
            <li> <img src={{miPortfolio.habilidadesTransmisiones.obs.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesTransmisiones.obs.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesTransmisiones.youTubeLives.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesTransmisiones.youTubeLives.text}}</b>  </li>
            <li> <img src={{miPortfolio.habilidadesTransmisiones.twitch.image}} width="40px" alt=""> <b>{{miPortfolio.habilidadesTransmisiones.twitch.text}}</b>
        </ul>


    </div>

    <div class="col-3"></div>

    <div class="py-2"></div>

</div>