<div class="navbar-expand" role="navigation" style="background-color: black;">

    <div class="row text-center text-white" style="padding-top: 15px; padding-right: 15px;">
        
        <div *ngIf="!flag" [ngClass]="{'col-1': flag, '': !flag}"></div>

        <div class="col-4 ">
        
            <h1> {{miPortfolio.cName}} </h1>
        
        </div>
        
        <div *ngIf="flag" [ngClass]="{'col-4': flag, '': !flag}"></div>

        <div *ngIf="!flag" [ngClass]="{'': flag, 'col-2': !flag}"></div>
    

        <div class="col">
            <a href="https://www.instagram.com/juli_ballardini/" target="_blank" style="margin-right: 10px;">
                <img src={{miPortfolio.habilidadesRedesSociales.instagram.image}} width="35px" alt="">
            </a>
            <a href="http://api.whatsapp.com/send?phone=+5493425685733&text=Hola%20Julián%20" target="_blank" style="margin-right: 10px;">
                <img src={{miPortfolio.habilidadesRedesSociales.whatsapp.image}} width="35px" alt="">
            </a>
            <a href="https://www.linkedin.com/in/luca-juli%C3%A1n-ballardini-175688211/" target="_blank" style="margin-right: 10px;">
                <img src="../../../assets/imgs/logo-linkdin.png" width="35px" alt="">
            </a>
            <a href="https://github.com/JulianBallardini" target="_blank" style="margin-right: 10px;">
                <img src="../../../assets/imgs/logo-github.png" width="35px" alt="">
            </a>
            <a href="" style="margin-right: 10px;">
                <img src="../../../assets/imgs/logo-usuario.png" width="35px" alt="">
            </a>

            <button class="btn btn-danger" >
                <a href="#contacto" class="text-white text-decoration-none">{{miPortfolio.botonTexto}}</a>
            </button>
        
        </div>
    
    </div>
        
</div>

<div class="row">

    <div class="col">
        <img src="../../../assets/imgs/portada.jpg" class="img-fluid" alt="">
    </div>

</div>